
$green-l-color: rgb(229, 243, 233);
$green-color: rgb(174, 244, 193);
$green-d-color: rgb(29, 136, 46);

$red-l-color: rgb(254, 235, 235);
$red-color: rgb(255, 191, 191);
$red-d-color: rgb(185, 27, 40);

$blue-color: rgb(0, 119, 238);
$blue-md-color: rgb(0, 40, 80);

$orange-d-color: rgb(213, 88, 43);
$yellow-color:rgb(238, 191, 51);
$purple-color: rgb(167, 78, 255);

$grey-dark-color: #343a40;
$grey-100-color: #f8f9fa;
$grey-150-color: #f4f5f6;
$grey-200-color: #e9ecef;
$grey-300-color: #dee2e6;
$grey-400-color: #ced4da;
$grey-450-color: #c3c8d1;
$grey-500-color: #adb5bd;
$grey-600-color: #6c757d;
$grey-700-color: #495057;
$grey-800-color: #343a40;
$grey-900-color: #212529;

/*
$grey-l-color: #f0f1f2;
$grey-color: #cccccc;
$grey-d-color: rgb(116, 117, 122);//rgb(103, 104, 108)*/

$white-color: #ffffff;
$black-color: #000000;

.color-positive {
    color: $green-d-color;
}

.background-positive {
    background-color: $green-l-color;
}

.color-negative {
    color: $red-d-color;
}

.background-negative {
    background-color: $red-l-color;
}

.color-focus {
    color: $blue-color;
}

.color-white {
    color: $white-color;
}

.background-white {
    background-color: $white-color;
}

.color-grey {
    color: $grey-600-color; 
}

.background-grey {
    background-color: $grey-150-color; 
}