@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "./Colors.scss";

.app-body {
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
      -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.section-borders {
  border: 1px solid $grey-color;
  border-radius: 7px;
}

.section-border-bottom {
  border-bottom: 1px solid $grey-color;
}

.section-border-top {
  border-top: 1px solid $grey-color;
}