@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "./Colors.scss";

.app-body {
  font-family: 'Inter', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-select {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
      -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.section-borders {
  border: 1px solid $grey-color;
  border-radius: 7px;
}

.section-border-bottom {
  border-bottom: 1px solid $grey-color;
}

.section-border-top {
  border-top: 1px solid $grey-color;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-800 {
  font-weight: 800;
}

.font-weight-900 {
  font-weight: 900;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}