
.live-ticker-data-section-market-status {
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}

.live-ticker-data-section-market-status-icon {
    font-size: 12px;
}

.live-ticker-data-section {
    font-size: 45px;
    font-weight: 600;
    text-align: right;
    overflow: auto;
    margin-top: -5px;
    margin-bottom: -10px;
}

.live-ticker-data-section-currency {
    float: right;
    font-size: 18px;
    margin-right: 5px;
    margin-top: 12px;
}

.liver-ticker-data-price {
    float: right;
}

.live-ticker-data-section-price-change {
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

.live-ticker-data-volume-icon {
    position: absolute;
    margin-left: -3px;
    margin-top: 6px;
    font-size: 10px;
}