@import "assets/styles/Colors.scss";

.stock-financials-sub-page-links a {
    position: relative;
    display: inline-block;
    padding: 8px 0 8px 0;
    text-decoration: none;
    color: $black-color;
    font-weight: 600;
    margin-right: 20px;
}

.stock-financials-sub-page-links a.active{
    border-bottom: 3px solid $blue-color;
}

.stock-financials-sub-page-links a:hover {
    color: $blue-color;
}

